body {
    background-color: #f4f8f9;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	color: white;
    font-size: 78px;
    font-weight: bold;
    border-bottom: #ffffff 1px solid;
    padding: 66px 0px 75px 13px;
    background-color: #152934;
    text-align: center;
}

.container {
    padding: 80px 0 0 0;
    width: 950px;
    margin: 0 auto;
    color: #0d5667;
}

.container  input[type="text"]{
	width: 680px;
    height: 40px;
    border-radius: 3px;
    border: 1px #7ba9c1 solid;
    padding: 0 20px;
    font-size: 20px;
}

.container  .button {
	width: 200px;
    margin: 0 5px;
    background-color: #f78666;
    border-width: 0px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    padding: 0px;
    text-transform: uppercase;
	cursor: pointer;
    float: right;
}

.row {
    padding: 10px 0px;
}

.result {
	font-size: 30px;
}
.error {
	color: red;
}